.container {
    text-align: center;
    margin-top: 10%;
}

.searchBarContainer{
    margin: 5% 20%;
    font-family: $roboto;
    height: 50px;
  }

.inputField {
  width: 60%;
  height: 50px;
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  float: left;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
}

.searchBtn{
  font-size: 15px;
  width: 27%;
  float: right;
  height: 50px;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
}

.searchBtn:hover {
  color:#ffffff;
  background-color: #282727;
  cursor: pointer;
}

.table{
  margin: auto 20%;
}

@media (min-width: 1200px){
  .inputField {
    width: 80%;
    font-size: 18px;
  }
  .searchBtn{
    width: 17%;
    font-size: 18px;
  }
}
